*,p,a{
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #333;
}

h1,h2,h3,h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #333;
}
h1{
  font-size: 48px;
  line-height: 72px;
}
h2{
  font-size: 36px;
  line-height: 48px;
}
h3{
  font-size: 30px;
  line-height: 36px;
}
h4{
  font-size: 24px;
  line-height: 30px;
}
strong{
  font-weight: 700;
}
.container-size{
  width: 1440px;
  margin: auto;
}
.bgescuro{
  background: #0F2626;
}
.bgmedio {
  background: #56736D;
}


/* Header */
header {
  position: relative;
}
.header-faixa1 {
  position: relative; 
  height: 170px;
}
.header-faixa1 .container-size{
  position: relative;
}
.header-faixa1 h1{
  color: #C9D5D2;
  padding-top: 90px;
}
.header-faixa2{
  height: 35px;
}
.faixa-mobile{
  display: none;
  height: 100px;
  background: #C9D5D2;
}
.faixa-mobile h1{
  text-align: center;
}
.header-faixa3{
  height: 90px;
  margin: 15px auto 30px;
}
.header-faixa3 ul{
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  width: 66%;
  height: 100%;
}
.header-faixa3 li {
  width: 50%;
}
.foto-perfil{
  position: absolute;
  right: 0;
  top: 60px;
}
header::after{
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background: #0F2626;
  bottom: -30px;
  left: 0;
}

/* Apresentação */

.apresentacao > div {
  height: 50vh;
  max-height: 350px;
  display: flex;
  justify-content: space-between;
}
.apresentacao .box-texto{
  width: 70%;
  height: 100%;
  max-height: 350px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.apresentacao .box-canais {
  width: 200px;
  height: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: solid 20px #56736D;
}
.apresentacao .box-canais ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}
.apresentacao .box-canais li{
  color: #94A6A2;
  text-align: center;
  font-size: 24px;
  transition: all ease-in .3s;
  position: relative;
}
.apresentacao .box-canais li a{
  display: flex;
  align-items: center;
  color: #94A6A2;
  text-align: center;
  font-size: 24px;
}
.apresentacao .box-canais li:first-child{
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 10px;
}
.apresentacao .box-canais li span{
  color: #94A6A2;
  text-align: center;
  font-size: 24px;
  position: relative;
  left: 20px;
  transition: all ease-in .3s;
}

.apresentacao .box-canais li img{
  opacity: 0.1;
  position: relative;
  left: -10px;
  transition: all ease-in .3s;
}
.apresentacao .box-canais.mobile{
  display: none;
}

/* Experiencia */

@media only screen and (max-width: 1440px){
  .container-size{
    width: 1024px;
  }
}
@media only screen and (max-width: 1024px){
  .container-size{
    width: 768px;
  }
  .foto-perfil{
    position: absolute;
    right: 20px;
    top: 50px;
  }
  .header-faixa3 li:last-child {
    width: 100%;
  }
  .apresentacao .box-canais {
    width: 150px;
    margin-right: 20px;
  }
  
}
@media only screen and (max-width: 768px){
  .container-size{
    width: 100%;
    margin: 0 30px;
  }
  .foto-perfil{
    position: absolute;
    right: 50%;
    margin-right: -78px;
    top: 30px;
  }
  .titulo-desktop{
    display: none;
  }
  .header-faixa2{
    height: 25px;
  }
  .faixa-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .faixa-mobile h1{
    font-size: 48px;
  }
  .header-faixa3{
    height: auto;
    margin: 30px auto;
  }
  .header-faixa3 ul{
    width: 100%;
    height: 100%;
  }
  .header-faixa3 li {
    width: 100%;
    padding: 5px 0;
    text-align: center;
  }
  header::after{
    width: 50px;
    height: 5px;
    bottom: -32px;
    left: 0;
  }
  .apresentacao > div {

  }
  .apresentacao .box-texto{
    position: relative;
    width: 100%;
    height: 100%;
    max-height: none;
    padding: 30px 0;
  }
  .apresentacao .box-texto h2{
    font-size: 24px;
  }
  .apresentacao .box-texto p{
    padding-bottom: 20px;
  }
  .apresentacao .box-canais.desktop{
    display: none;
  }
  .apresentacao .box-canais.mobile{
    display: block;
  }
  .apresentacao .box-canais {
    width: auto;
    height: auto;
    margin: 0;
    padding: 20px 0;
  }
  .apresentacao .box-canais ul {
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0 5%;
  }
  .apresentacao .box-canais ul li:first-child {
    width: 100%;
    font-size: 24px;
    text-align: left;
  }
  .apresentacao .box-canais li{
    width: 25%;
    padding: 10px 0;
  }
  .apresentacao .box-canais li a{
    justify-content: space-evenly;
  }
  .apresentacao .box-canais li a span{
    font-size: 18px;
    left: 0px;
  }
  .apresentacao .box-canais li a img{
    width: 30px;
    left: -10px;
  }
}
}





/* €€€€€€€€€€€€€€€€  MEDIA QUERY €€€€€€€€€€€€€€€€€€€€€€ */

/*
@media only screen and (min-width: 1280px){
  .box-canais li:hover span {
    left: 0;
  }
  .box-canais li:hover img {
    left: 5px;
    opacity: .7;
  }
}
@media only screen and (min-width: 1025px){
  .box-canais li:hover span {
    left: 0;
  }
  .box-canais li:hover img {
    left: 5px;
    opacity: .7;
  }
}
@media only screen and (max-width: 440px){
  .foto-perfil{
    position: absolute;
    right: 50%;
    margin-right: -78px;
    top: 30px;
  }
  .titulo-desktop{
    display: none;
  }
  .header-faixa2{
    height: 25px;
  }
  .faixa-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .faixa-mobile h1{
    font-size: 48px;
  }
  .header-faixa3{
    height: auto;
    margin: 30px auto 30px;
  }
  .header-faixa3 ul{
    width: 100%;
    height: 100%;
  }
  .header-faixa3 li {
    width: 100%;
    padding: 5px 0;
    text-align: center;
  }
  header::after{
    width: 50px;
    height: 5px;
    bottom: -32px;
    left: 0;
  }
  .apresentacao > div {
    height: auto;
    max-height: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .apresentacao .box-texto{
    position: relative;
    width: 100%;
    height: 100%;
    max-height: none;
    padding: 30px 0;
  }
  .apresentacao .box-texto h2{
    font-size: 24px;
  }
  .apresentacao .box-texto p{
    padding-bottom: 20px;
  }
  .apresentacao .box-canais.desktop{
    display: none;
  }
  .apresentacao .box-canais.mobile{
    display: block;
  }
  .apresentacao .box-canais {
    width: auto;
    height: auto;
    padding: 20px 0;
  }
  .apresentacao .box-canais ul {
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0 5%;
  }
  .apresentacao .box-canais ul li:first-child {
    width: 100%;
    font-size: 24px;
    text-align: left;
  }
  .apresentacao .box-canais li{
    width: 25%;
    padding: 10px 0;
  }
  .apresentacao .box-canais li a{
    justify-content: space-evenly;
  }
  .apresentacao .box-canais li a span{
    font-size: 18px;
    left: 0px;
  }
  .apresentacao .box-canais li a img{
    width: 30px;
    left: -10px;
  }
}
*/

